$color-gradient-1: var(--color-gradient-1);
$color-gradient-2: var(--color-gradient-2);
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-primary-light: var(--color-primary-light);
$color-white: var(--color-white);
